.custom-margin-top {
    margin-top: 6% !important;
}

.custom-height-setting {
    height: 577px !important;
    overflow-y: auto;
}

.product-modal-img-list {
    max-height: 219px;
    overflow-y: auto;
    margin-top: 10px;

    .relative {
        position: relative;
    }

    .set-relative {
        position: relative;
        height: 134px;
    }

    .custom-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .delete-btn {
        position: absolute;
        right: 0px;
        cursor: pointer;
    }
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #3b71ca;
    color: white;
    width: 100%;
}

.custom-input {
    margin-bottom: 25px;
}

.custom-error {
    color: red;
    position: relative;
    top: -25px;
    left: 10px;
    font-size: 14px;
}

.forgot-password-link{
    color:#2c58a0;
    cursor: pointer;
    float:right;
}