.custom-margin-top {
    margin-top: 6%;
}

.logo-text {
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    color:#2c58a0;
    font-weight: bold;
}

.custom-td {
    border-bottom: #eee 1px solid;
    padding: 10px;
}

.no-border {
    border: 0px !important;
}

.mt-20 {
    margin-top: 20px;
}

.top-7 {
    top: 7px;
}

.body-wrap {
    width: 100%;
}

.disabled-certi {
    display: inline-block;
    padding: 6px 12px;
    color: none;
    cursor: not-allowed;
    background-color: #3b71ca;
    width: 100%;
}

.noti-count {
    top: -10px !important;
}

.dropdown-menu {
    max-height: 500px !important;
    overflow-y: auto !important;
}

@media print {
    body * {
        visibility: hidden;
    }

    #printTable,
    #printTable * {
        visibility: visible;
    }

    #printTable {
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .custom-margin-top {
        margin-top: 10% !important;
    }
    .text-wrap a {
        white-space: normal;
    }
}

@media (min-width: 200px) and (max-width: 767px) {
    .custom-margin-top {
        margin-top: 20% !important;
    }
    .text-wrap a {
        white-space: normal;
    }
}

@media (min-width: 200px) and (max-width: 320px) {
    .custom-margin-top {
        margin-top: 30% !important;
    }
    .text-wrap a {
        white-space: normal;
    }
}
.pagination-container {
    display: flex;
    justify-content: end;
    /* Center align the pagination */
    align-items: center;
    padding: 10px;
  }
  
  .pagination-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination-label,
  .pagination-displayed-rows {
    margin: 0 5px;
    font-size: 14px;
    color: #555;
  }
  
  .pagination-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .pagination-container .MuiTablePagination-select {
    font-size: 14px;
    color: #333;
  }
  
  .pagination-container .MuiTablePagination-actions {
    color: #1976d2;
    /* Customize action button color */
  }
  

.custom-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important; /* Ensure no unnecessary spacing */
    width: 40px !important; /* Optional: Define size */
    height: 40px !important; /* Optional: Define size */
}
