body {
    font-family: "Times New Roman", Georgia, Serif;
}
.company-title {
    color:#2c58a0;
    font-weight: bold;
}
.image-slider {
    max-width: 100%;
    width:100%;
    height: 600px;
    object-fit: cover;
}
 @media (min-width: 320px) and (max-width:390px) {
    .image-slider {
       object-fit: fill !important;
       height: auto !important;
    }
    .header {
        margin-top:81px !important;
    }
}
@media (width:320px) {
    .image-slider {
       object-fit: fill !important;
       height: auto !important;

    }
    .header {
        margin-top:105px !important;
    }
}
@media (min-width:400px) and (max-width:430px){
    .image-slider {
       object-fit: fill !important;
       height: auto !important;
    }
    
}
@media screen and (max-width: 319px) {
    .image-slider {
        object-fit: fill !important;
        height: auto !important;
 
     }
}
